<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Page</title>
    {% endif %}
    <script src="https://kit.fontawesome.com/a393683316.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">

{% block content %}{% endblock %}
</body>
</html>